:root {
  --main-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --accent-color: #2196f3;
  --btn-bg-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;

  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------------------ HEADER ------------------*/

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.header-logo span {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-color);
}

.nav-link.active-page {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.auth-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.auth-link:hover,
.auth-link:focus {
  color: var(--accent-color);
}

/* ------------------ HERO ------------------*/

.hero {
  background-color: var(--third-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60p1.36x;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  border: none;

  background-color: var(--btn-bg-color);
  color: #ffffff;
}

/* ------------------ PRIOTITIES ------------------*/

.priorities-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}
.priorities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* ------------------ OUR WORK ------------------*/

.works-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

/* ------------------ OUR TEAM ------------------*/

.team {
  background-color: var(--second-bg-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* ------------------FOOTER ------------------*/

.footer {
  background-color: var(--third-bg-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-logo span {
  color: var(--accent-color);
}

.address-item {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.address-google {
  color: #ffffff;
}

.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}

.address-item .link:hover,
.address-item .link:focus {
  color: var(--accent-color);
}

/* ------------------PORTFOLIO ------------------*/

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
  border: none;

  color: var(--title-color);
  background-color: var(--second-bg-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
